/* -----------------------
        Google Font
-------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap');

/* ----------------------
        Base Styles
------------------------*/
body{
    font-family: 'Poppins', sans-serif;
}
 
/* ------------------------------
        Banner section style
--------------------------------- */
header .banner-container{
    display: flex;
    width: 1200px;
    margin: 50px auto;
    background: #161616;
    color: #fff;
    justify-content: center;
    border-radius: 30px;
}
header .banner-container .banner-item{
    width: 50%;
    margin-left: 1rem;
}
.banner-txt{
    /* margin: 50px 100px; */
    align-self: center;
}
.banner-txt h1{
    font-size: 3rem;
}
.banner-txt a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background: #DD0000;
    margin-top: 30px;
    padding: 16px 25px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
}

/* ------------------------------
        Main section style
------------------------------- */
.main-container{
    display: flex;
    width: 1200px;
    margin: auto;
}

/* nav style */
.main-container nav{
    display: flex;
    flex-direction: column;
    background: #161616;
    height: 312px;
    border-radius: 10px;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 24px;
    padding: 0 2rem;
}
nav a{
    text-decoration: none;
    padding: 1rem 0;
    background: #fff;
    color: #000;
    font-size: 1.25rem;
    font-weight:500;
    width: 252px;
    text-align: center;
    border-radius: 10px;
}
nav a.viewing{
    background: #DD0000;
    color: #fff;
    font-weight: 600;
}

/* article style */
.content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}
article{
    display: flex;
    flex-direction: column;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
article img{
    width: 100%;
}
article a{
    width: 65px;
    text-decoration: none;
    border: 1px solid #161616;
    border-radius: 5px;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 0 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #161616;
}
article h4{
    margin-left: 1rem;
    margin-right: 1rem;
}
article div i{
    margin-left: 1rem;
}
article div span{
    color: #161616b3;
}
.view-button{
    display: none;
}
/* match-time style */
.match-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:50px 0 50px ;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.flags{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 270px;
}
.flags span{
    font-size: 1rem;
    font-weight: 700;
}
.match-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.match-details h4{
    font-size: 20px;
    margin: 20px 0 10px 0;
}
.match-details p{
    margin: 0;
}

/* ------------------------
        Footer Style
----------------------------*/
footer{
    background: #161616;
    padding: 100px 0;
    margin-top: 100px;
}
footer h2{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}
footer .icons{
    text-align: center;
}
.fa-brands{
    font-size: 1.25rem;
}
.fa-brands:hover{
    color: #fff;
    
}
footer hr{
    width: 80%;
    border-color: #FFFFFF1A;
}
.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer a{
    text-decoration: none;
    color: #B9B9B9;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 2rem;
}

/* ---------------------------
        @@ Media Query @@
---------------------------- */
/* mobile */
@media only screen and (max-width: 576px) {
    header .banner-container{
        flex-direction: column;
        width: auto;
        text-align: center;
        gap: 1rem;
    }
    header .banner-container .banner-item {
        width: 90%;
        margin: auto;
    }
    .banner-txt p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .main-container{
        flex-direction: column;
        width: auto;
        align-items: center;
    }
    .main-container nav{
        margin: auto;
        background: #fff;
    }
    nav a{
        border: 1px solid #E8E8E8;
    }
    .content{
        grid-template-columns: repeat(1, 1fr);
    }
    .footer-links{
        flex-direction: column;
    }
}

/* tablet or small laptop */
@media (min-width: 577px) and (max-width: 1199px) {
    header .banner-container {
            /* display: none; */
            width: auto;
            margin: auto;
        }
    .banner-txt h1 {
        font-size: 2.5rem;
    }
    main {
        display: none;
    }
    .view-button{
        display: inline-block;
    }
    }